Django==6.1.2
Pillow==12.3.0
psycopg[binary]==3.3.6
django-environ==0.14.0
redis==8.1.0
django-debug-toolbar==8.0.0
djangorestframework==3.18.3
django-filter==26.2
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.30.0
whitenoise==6.12.0
gunicorn==26.2.0